# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Test.AnotherWinDir.iml
# Datasource local storage ignored files
/../../../../../../:\s\AnotherWinDir\.idea\.idea.Test.AnotherWinDir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
